$white: #ffffff;

html {
    box-sizing: border-box;
    font-size: 100%;
}

body {
    margin: 0;
    padding: 20px;
    line-height: 1.2;
    font-family: Arial, Helvetica, sans-serif;
    color: $white;
    background-color: #333333;

    h1 {
        font-size: 3rem;
        color: $white;
        transition: all 300ms ease;            
    }
}

.test {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
    transform: rotate(180deg);
}